{% extends 'form_div_layout.html.twig' %}

{%- block widget_container_attributes -%}
    {%- if attr.class is not defined -%}
        {%- set attr = attr|merge({ class: 'space-y-4' }) -%}
    {%- endif -%}
    {{- parent() -}}
{%- endblock widget_container_attributes -%}

{%- block widget_attributes -%}
    {%- if attr.class is not defined -%}
        {%- set attr = attr|merge({ class: 'mt-1'~(disabled ? ' border-gray-300 text-gray-500')~(errors|length ? ' border-red-700') }) -%}
    {%- endif -%}
    {{- parent() -}}
{%- endblock widget_attributes -%}

{%- block form_label -%}
    {%- if label_attr.class is not defined -%}
        {%- set label_attr = label_attr|merge({ class: 'block text-gray-800' }) -%}
    {%- endif -%}
    {{- parent() -}}
{%- endblock form_label -%}

{%- block form_help -%}
    {%- if help_attr.class is not defined -%}
        {%- set help_attr = help_attr|merge({ class: 'mt-1 text-gray-600' }) -%}
    {%- endif -%}
    {{- parent() -}}
{%- endblock form_help -%}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <ul>
            {%- for error in errors -%}
                <li class="text-red-700">{{ error.message }}</li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endblock form_errors -%}

{%- block date_widget -%}
    {%- if widget != 'single_text' and attr.class is not defined -%}
        {%- set attr = attr|merge({ class: 'flex space-x-1' }) -%}
    {%- endif -%}
    {{- parent() -}}
{%- endblock date_widget -%}

{%- block choice_widget_expanded -%}
    {%- if attr.class is not defined -%}
        {%- set attr = attr|merge({ class: 'space-y-2 mt-1' }) -%}
    {%- endif -%}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            <div class="flex items-center space-x-2">
                {{- form_widget(child, {attr: {class: 'mt-0'}}) -}}
                {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
            </div>
        {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}
