{% use 'form_div_layout.html.twig' %}

{%- block widget_container_attributes -%}
    {%- set attr = attr|merge({ class: attr.class|default(block('row_class')) }) -%}
    {{- parent() -}}
{%- endblock widget_container_attributes -%}

{% block row_class %}space-y-6{% endblock row_class %}

{%- block widget_attributes -%}
    {%- set attr = attr|merge({ class: attr.class|default(block('widget_class')) ~ (disabled ? ' ' ~ block('widget_disabled_class')) ~ (errors|length ? ' ' ~ block('widget_errors_class')) }) -%}
    {{- parent() -}}
{%- endblock widget_attributes -%}

{% block widget_class %}mt-1 w-full{% endblock widget_class %}

{% block widget_disabled_class %}border-gray-300 text-gray-500{% endblock widget_disabled_class %}

{% block widget_errors_class %}border-red-700{% endblock widget_errors_class %}

{%- block form_label -%}
    {%- set label_attr = label_attr|merge({ class: label_attr.class|default(block('label_class')) }) -%}
    {{- parent() -}}
{%- endblock form_label -%}

{% block label_class %}block text-gray-800{% endblock label_class %}

{%- block form_help -%}
    {%- set help_attr = help_attr|merge({ class: help_attr.class|default(block('help_class')) }) -%}
    {{- parent() -}}
{%- endblock form_help -%}

{% block help_class %}mt-1 text-gray-600{% endblock help_class %}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <ul>
            {%- for error in errors -%}
                <li class="text-red-700">{{ error.message }}</li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endblock form_errors -%}

{%- block date_widget -%}
    {%- if widget != 'single_text' -%}
        {%- set attr = attr|merge({ class: attr.class|default('flex space-x-1') }) -%}
    {%- endif -%}
    {{- parent() -}}
{%- endblock date_widget -%}

{%- block choice_widget_expanded -%}
    {%- set attr = attr|merge({ class: attr.class|default('mt-2') }) -%}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            <div class="flex items-center space-x-2">
                {{- form_widget(child, { attr: { class: 'mt-0' } }) -}}
                {{- form_label(child, null, { translation_domain: choice_translation_domain }) -}}
            </div>
        {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}

{%- block checkbox_row -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <div{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
        {{- form_errors(form) -}}
        <div class="inline-flex items-center">
            {{- form_widget(form, widget_attr) -}}
            {{- form_label(form) -}}
        </div>
        {{- form_help(form) -}}
    </div>
{%- endblock checkbox_row -%}

{%- block checkbox_widget -%}
    {%- set attr = attr|merge({ class: attr.class|default('mr-2') }) -%}
    {{- parent() -}}
{%- endblock checkbox_widget -%}
