{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <h1>Post</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ post.slug }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ post.category }}</td>
            </tr>
            <tr>
                <th>Tags</th>
                <td>{{ post.tags ? post.tags|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ post.date ? post.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Published</th>
                <td>{{ post.published ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ post.body }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('post_index') }}">back to list</a>

    <a href="{{ path('post_edit', {'id': post.id}) }}">edit</a>

    {{ include('post/_delete_form.html.twig') }}
{% endblock %}
